@use 'variables';
@use 'mixins';
@use 'functions';

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: variables.$header-height;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background: linear-gradient(to bottom, map-get(variables.$colors , main-dark), functions.get-opac-color(map-get(variables.$colors , main-dark), .2), functions.get-opac-color(map-get(variables.$colors , main-dark), 1)), url(~src/assets/images/header.png) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  @include mixins.box-shadow(.2);
  @include mixins.user-select-none;

  .push-start {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .logo {
      height: 90px;
    }
  }

  .push-end {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: map-get(variables.$colors , main-brand);

    .title {
      padding: 0.25rem;
    }
  }
}
