@use 'variables';
@use 'mixins';

.label-wrapper {
  display: flex;
  justify-content: space-between;

  .control-label {
    font-size: map-get(variables.$font-sizes, small);
    color: map-get(variables.$colors, dark-grey);
  }

  .label-icon {
    @include mixins.clickable;

    img {
      height: 0.75rem;
    }
  }
}

input {
  margin: 0.25rem 0;
  width: 100%;
}
