@use 'mixins';
@use 'variables';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-input-placeholder {
  @include mixins.placeholder;
}

::-moz-placeholder {
  @include mixins.placeholder;
}

:-ms-input-placeholder {
  @include mixins.placeholder;
}

:-moz-placeholder {
  @include mixins.placeholder;
}
