@use 'variables';

.content {
  display: flex;
  margin-top: variables.$header-height;
  height: calc(100vh - #{variables.$header-height});

  > * {    
    flex: 1;
    padding: 3rem;
    overflow-y: auto;
  }

  .error {
    color: map-get(variables.$colors, main-bright);;
  }
}
