@use 'variables';

.content {
  display: flex;
  margin-top: variables.$header-height;
  height: calc(100vh - #{variables.$header-height});

  .router-outlet {
    flex: 1;
    padding: 3rem;
    overflow-y: auto;
  }
}
