@use 'variables';

.body {
  text-align: center;
  font-size: map-get(variables.$font-sizes, large);
}

.button-row {
  display: flex;
  justify-content: flex-end;
  padding-top: 2.5rem;

  ::ng-deep p-button {
    button {
      margin: 0 0.25rem;
    }
  }
}
