@use 'variables';
@use 'mixins';
@use 'global';

.p-component,
.p-element {
  font-family: OpenSansHebrew, sans-serif !important;

  &.p-disabled, :disabled {
    &:not(button) {
      background-color: map-get(variables.$colors, x-light-grey) !important;
    }
  }
}

p-table {
  .p-datatable {
    .p-datatable-thead {
      tr {
        th {
          background: initial !important;
        }
      }
    }
  }
}

p-dropdown {
  .p-dropdown {
    .p-dropdown-label {
      width: 0 !important;
    }
  }

  .p-dropdown-trigger-icon {
    &:before {
      content: url(/assets/images/icons/sort-down.svg);
    }
  }
}

p-paginator {
  .p-paginator {
    display: flex;
    justify-content: flex-end;
    font-size: map-get(variables.$font-sizes, x-small);
    background: initial;
    border: none;

    .p-paginator-left-content,
    .p-paginator-right-content,
    .p-paginator-first,
    .p-paginator-last,
    .p-paginator-prev,
    .p-paginator-next {
      display: none;
    }

    .p-paginator-rpp-options {
      .p-dropdown-label {
        padding-right: 1.5rem;
      }
    }

    .p-paginator-pages {
      button {
        font-size: map-get(variables.$font-sizes, x-small);
        font-weight: 600;
      }

      .p-paginator-page {
        background-color: map-get(variables.$colors, main-white);
        border-radius: 25%;
        border: 1px solid map-get(variables.$colors, main-grey);

        &.p-highlight {
          color: map-get(variables.$colors, main-brand);
          background: map-get(variables.$colors, lighter-brand);
          pointer-events: none;
        }
      }
    }
  }
}

p-toast {
  .p-toast {
    top: calc(1rem + #{variables.$header-height});
    max-width: calc(100vw - 40px);
    height: 1vh;

    .p-toast-message-brand {
      background-color: map-get(variables.$colors, main-grey) !important;
      border: solid map-get(variables.$colors, main-brand);
      border-width: 0 0 0 6px;
      color: map-get(variables.$colors, main-black);

      .p-toast-icon-close {
        color: map-get(variables.$colors, main-black);
      }
    }

    .p-toast-message-content {
      display: flex;
      align-items: center;
    }
  }
}

p-sorticon {
  .pi-sort-alt:before {
    content: url(/assets/images/icons/sorting-icon.svg);
  }

  .pi-sort-amount-up-alt:before {
    content: url(/assets/images/icons/sort-up.svg);
  }

  .pi-sort-amount-down:before {
    content: url(/assets/images/icons/sort-down.svg);
  }
}

p-dynamicdialog {
  .p-dialog-header-icon {
    &:enabled,
    &:hover {
      background: none !important;
    }
  }
}

p-dialog,
p-dynamicdialog {
  @media (max-width: variables.$breakpoint-medium) {
    .p-dialog {
      max-height: 100%;
      width: 100% !important;

      .p-dialog-title {
        margin-top: variables.$header-height;
      }

      .p-dialog-content {
        height: 100vh;
      }
    }
  }
}

p-dropdownitem {
  .p-dropdown-item {
    white-space: normal;

    span {
      @include mixins.nowrap($with_ellipsis: true);
    }
  }
}

p-autocomplete {
  .p-autocomplete-dropdown {
    background-color: map-get(variables.$colors, main-brand) !important;
    border-color: map-get(variables.$colors, main-black) !important;
  }
}

p-calendar {
  button.p-datepicker-trigger {
    background-color: map-get(variables.$colors, main-brand) !important;
    border-color: map-get(variables.$colors, main-brand) !important;
  }
}

p-radioButton {
  .p-radiobutton {
    .p-radiobutton-icon {
      background-color: initial !important;
      border: 2px solid map-get(variables.$colors, main-white);
      height: 14px !important;
      width: 14px !important;
    }

    .p-radiobutton-box.p-highlight {
      border-color: map-get(variables.$colors, main-brand) !important;
      background: map-get(variables.$colors, main-brand) !important;
    }

    .p-radiobutton-box {
      width: 18px;
      height: 18px;
      border: 1px solid map-get(variables.$colors, light-grey);
    }

    .p-radiobutton-box:not(.p-disabled){
      &:not(.p-highlight) {
        &:hover {
          border-color: map-get(variables.$colors, main-brand) !important;
        }
      }
    }
  }
}

p-confirmdialog {
  .p-confirm-dialog-reject {
    background-color: map-get(variables.$colors, medium-grey) !important;
  }

  .p-confirm-dialog-accept {
    background-color: map-get(variables.$colors, main-brand) !important;
  }
}

// RTL Overrides

body[dir=rtl] {
  .pi-chevron-right {
    transform: rotate(180deg);
  }

  p-paginator {
    .p-paginator-rpp-options {
      .p-dropdown-label {
        padding-left: 1.5rem;
      }
    }
  }

  p-table {
    .p-datatable {
      .p-datatable-thead {
        tr {
          th {
            text-align: right !important;
          }
        }
      }

      .p-datatable-tbody {
        tr {
          td {
            text-align: right !important;
          }
        }
      }
    }
  }

  p-panelmenu {
    .p-panelmenu-icon {
      margin-right: 0 !important;
      margin-left: 0.5rem !important;
    }

    .p-menuitem-icon {
      margin-right: 0 !important;
      margin-left: 0.5rem !important;
    }
  }

  p-tabmenu {
    .p-menuitem-icon {
      margin-right: 0 !important;
      margin-left: 0.5rem !important;
    }
  }

  p-calendar {
    button.p-datepicker-trigger {
      border-radius: 5px 0 0 5px !important;
    }

    input {
      direction: ltr;
      text-align: right;
    }
  }

  .p-datepicker-prev-icon,
  .p-datepicker-next-icon {
    transform: rotate(180deg);
  }

  p-toast {
    .p-toast {
      left: 20px;
      right: initial !important;

      .p-toast-message-text {
        margin-right: 1rem !important;
      }

      .p-toast-icon-close {
        align-self: start;
      }
    }
  }

  p-sorticon {
    .p-sortable-column-icon {
      margin-right: 0.5rem;
    }
  }

  p-dropdown {
    .p-dropdown {
      .p-dropdown-label {
        padding-right: 0.5rem !important;
        width: 0 !important;
      }
    }

    .p-dropdown-clear-icon {
      right: auto !important;
      left: 2.357rem;
    }
  }

  .p-dropdown-filter {
    padding-right: 0.5rem !important;
    padding-left: 1.5rem !important;
    margin-right: 0 !important;
  }

  .p-dropdown-filter-icon {
    right: auto !important;
    left: 0.5rem;
  }

  p-autocomplete {
    .p-autocomplete-dropdown {
      border-radius: 5px 0 0 5px !important;
    }
  }

  p-radioButton {
    .p-radiobutton-label {
      margin-left: 0 !important;
      margin-right: 0.5rem;
    }
  }

  p-multiselect {
    .p-checkbox {
      margin-left: 0.5rem;
      margin-right: 0 !important;
    }

    .p-multiselect-header {
      .p-multiselect-close {
        margin-right: 0.5rem;
        margin-left: 0 !important;
      }
    }

    .p-multiselect-token {
      margin-left: 0.5rem;
      margin-right: 0 !important;
    }

    .p-multiselect-filter {
      padding-right: 2rem !important;
    }
  }

  p-message {
    .p-inline-message-icon {
      margin-right: 0 !important;
      margin-left: 0.5rem !important;
    }
  }

  button.p-button {
    &:not(.p-button-icon-only) {
      .p-button-icon {
        margin-right: 0 !important;
        margin-left: 0.5rem;
      }
    }
  }
}
