.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
    
  .card {
    flex: 1;
    min-width: 240px;
  }
}

.floating-buttons-wrapper {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 1.5em;
  height: 1.5em;
}