@use 'functions';
@use 'variables';

@mixin flex-column($justify-content: space-between, $align-items: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin dlg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: map-get(variables.$font-sizes, large);
  font-weight: map-get(variables.$font-weights, semibold);
  width: 100%;

  .header-text {
    text-align: center;

    .header-description {
      font-size: map-get(variables.$font-sizes, small);
      font-weight: map-get(variables.$font-weights, normal);
      color: map-get(variables.$colors, dark-grey);
    }
  }

  ion-icon {
    font-size: map-get(variables.$font-sizes, xx-large);

    &.pi {
      cursor: pointer;
    }
  }

  i {
    // Empty cell that Would have the same width as the icon - in order to center title
    width: map-get(variables.$font-sizes, xx-large);
  }
}

@mixin transaction-summary-table {
  width: 100%;

  .summary-section {
    border-bottom: 1px dashed map-get(variables.$colors, main-dark);
    padding: .5rem;

    .summary-row-group {
      padding: .5rem;

      > * {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .summary-row {
        padding-bottom: .5rem;
      }

      .summary-title {
        font-weight: map-get(variables.$font-weights, bold);
      }
    }
  }
}

@mixin placeholder {
  font-size: 0.75em;
}

@mixin clickable {
  cursor: pointer;
}

@mixin hover {
  &:hover {
    @content;
  }
}

@mixin hover-focus {
  &:focus,
  &:hover {
    @content;
  }
}

@mixin plain-hover-focus {
  &,
  &:focus,
  &:hover {
    @content;
  }
}

@mixin hover-focus-active {
  &:focus,
  &:active,
  &:hover {
    @content;
  }
}

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }

  a#{$parent} {
    @include hover-focus {
      color: darken($color, 10%) !important;
    }
  }
}

@mixin nowrap($with_ellipsis: false) {
  white-space: nowrap;
  overflow: hidden;
  
  @if $with_ellipsis {
    text-overflow: ellipsis;
  }
}

@mixin user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin box-shadow($shade-level) {
  -webkit-box-shadow: 0 0.2rem 0.4rem 0 functions.get-shadow($shade-level);
  box-shadow: 0 0.2rem 0.4rem 0 functions.get-shadow($shade-level);
}
